# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# service accounts
black-sun-sauces-firebase-adminsdk-q0eh3-f4c75592fd.json

# testing
/coverage

# production
client/build

# misc
.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#jovo
node_modules/
db/
bundle/
bundle.zip