/* This is the class for modifying the error if the DB cannot be loaded*/
.error{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/* This is the container of the grid used in the shop*/
.divShop{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
/* This is the container for each card in the shop*/
.card-Shop{
    width: 98%;
    background-color: lightgray;
    opacity: 50%;
    border-radius: 10px;
    border: gray 1px solid;
    padding-left: .2em;
    padding-right: .2em;
    margin-bottom: .2em;
    margin-top: .2em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.cardshop .title{
    font-size: larger;
}

/* Ensure container contents have full visibility if opacity is used in background*/
.card-Shop *{
    opacity: 100%;
}

/* This modifies the Text elements natively in the card-shop*/
.card-Shop h1,p{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/* This modifies the rendering of the current stock*/
.card-Shop span{
    margin-left: 0px;
    margin-right: 0px;
}


/* This modifies the div containing the form elements*/
.card-Shop div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* This resizes the form controls*/
.card-shop > input{
    height: .6em;
}
.card-shop > button{
    height: 1.3em;
}

/* This makes the catds get a higher opacity on hover*/
.card-shop:hover{
    transition: 500ms;
    opacity: 100%;
}

/* The below classes are used for debugging spacing*/
.test1{
    background-color: teal;
}
.test2{
    background-color: tomato;
}

.price-avail{
    background-color: violet;
    width:100%;
    margin-left: 0px;
    margin-left: 0px;
}

/*This can be used to hide any elements that should not be visible to the user*/
.hidden{
    display: none;
}

/* This class enables the containing element to have its internal elements to automatically resize if configured*/
.flex{
    margin-top: .1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* This class enables a link object to visibly become a button */
.button{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: gray;
    border-radius: 5px;
}

.button a{
    text-decoration: none;
    color: black;
}

.button:hover{
    transition: 500ms;
    background-color: lightgray;
}

.button:visited{
    color: black;
}

/*Extra small devices */
@media (max-width: 600px){
    .col-xs-12{
        width: 100%;
        min-width: 100%;
    }
    .col-xs-11{
        width: 91.67%;
    }
    .col-xs-10{
        width: 83.33%;
    }
    .col-xs-9{
        width: 75%;
    }
    .col-xs-8{
        width: 66.66%;
    }
    .col-xs-7{
        width: 58.33%;
    }
    .col-xs-6{
        width: 50%;
    }
    .col-xs-5{
        width: 41.66%;
    }
    .col-xs-4{
        width: 33.33%;
    }
    .col-xs-3{
        width: 25%;
    }
    .col-xs-2{
        width: 16.66%;
    }
    .col-xs-1{
        width: 8.33%;
    }
    .col-xs-0{
        width: 0%;
    }
}

/*small devices */
@media (min-width: 600px){
    .col-sm-12{
        width: 100%;
    }
    .col-sm-11{
        width: 91.67%;
    }
    .col-sm-10{
        width: 83.33%;
    }
    .col-sm-9{
        width: 75%;
    }
    .col-sm-8{
        width: 66.66%;
    }
    .col-sm-7{
        width: 58.33%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-5{
        width: 41.66%;
    }
    .col-sm-4{
        width: 33.33%;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-2{
        width: 16.66%;
    }
    .col-sm-1{
        width: 8.33%;
    }
    .col-sm-0{
        width: 0%;
    }
}

/*medium devices */
@media (min-width: 768px){
    .col-md-12{
        width: 100%;
    }
    .col-md-11{
        width: 91.67%;
    }
    .col-md-10{
        width: 83.33%;
    }
    .col-md-9{
        width: 75%;
    }
    .col-md-8{
        width: 66.66%;
    }
    .col-md-7{
        width: 58.33%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-5{
        width: 41.66%;
    }
    .col-md-4{
        width: 33.33%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-2{
        width: 16.66%;
    }
    .col-md-1{
        width: 8.33%;
    }
    .col-md-0{
        width: 0%;
    }
}

/*large devices */
@media (min-width: 992px){
    .col-lg-12{
        width: 100%;
    }
    .col-lg-11{
        width: 91.67%;
    }
    .col-lg-10{
        width: 83.33%;
    }
    .col-lg-9{
        width: 75%;
    }
    .col-lg-8{
        width: 66.66%;
    }
    .col-lg-7{
        width: 58.33%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-5{
        width: 41.66%;
    }
    .col-lg-4{
        width: 33.33%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-2{
        width: 16.66%;
    }
    .col-lg-1{
        width: 8.33%;
    }
    .col-lg-0{
        width: 0%;
    }
}

/*Extra large devices */
@media (min-width: 1200px){
    .col-xl-12{
        width: 100%;
    }
    .col-xl-11{
        width: 91.67%;
    }
    .col-xl-10{
        width: 83.33%;
    }
    .col-xl-9{
        width: 75%;
    }
    .col-xl-8{
        width: 66.66%;
    }
    .col-xl-7{
        width: 58.33%;
    }
    .col-xl-6{
        width: 50%;
    }
    .col-xl-5{
        width: 41.66%;
    }
    .col-xl-4{
        width: 33.33%;
    }
    .col-xl-3{
        width: 25%;
    }
    .col-xl-2{
        width: 16.66%;
    }
    .col-xl-1{
        width: 8.33%;
    }  
    .col-xl-0{
        width: 0%;
    }
}