.divShop{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
/* This is the container for each card in the shop*/
.card-Shop{
    background-color: lightgray;
    opacity: 50%;
    border-radius: 10px;
    border: gray 1px solid;
    padding-left: .2em;
    padding-right: .2em;
    margin-bottom: .2em;
    margin-top: .2em;
}

.card-Shop *{
    /* Ensure container contents have full visibility*/
    opacity: 100%;
}

.cardshop img{
    /*This modifies the rendering of images on the store page*/
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.card-Shop h1{
    text-align: center;
}
.card-Shop p {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.card-Shop div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.hidden{
    display: none;
}

.grid-container{
    opacity: 70%;
    max-height: 18em;
}

.grid-container:hover{
    opacity: 100%;
    transition: 1s;
}

.grid-text{
    overflow-y: auto;
    max-height: 18em;
}

.right{
    text-align: right;
}
.fright{
    float: right;
}

.fright *{
    text-align: center; 
}

.flex{
    margin-top: .1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.placeholder{
    width: 100%;
    text-align: center;
    
}

/*Extra small devices */
@media (max-width: 600px){
    .placeholder{
        max-width: 128px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    
    }
    .col-xs-12{
        width: 100%;
        min-width: 100%;
    }
    .col-xs-11{
        width: 91.67%;
    }
    .col-xs-10{
        width: 83.33%;
    }
    .col-xs-9{
        width: 75%;
    }
    .col-xs-8{
        width: 66.66%;
    }
    .col-xs-7{
        width: 58.33%;
    }
    .col-xs-6{
        width: 50%;
    }
    .col-xs-5{
        width: 41.66%;
    }
    .col-xs-4{
        width: 33.33%;
    }
    .col-xs-3{
        width: 25%;
    }
    .col-xs-2{
        width: 16.66%;
    }
    .col-xs-1{
        width: 8.33%;
    }
    .col-xs-0{
        width: 0%;
    }
}

/*small devices */
@media (min-width: 600px){
    .col-sm-12{
        width: 100%;
    }
    .col-sm-11{
        width: 91.67%;
    }
    .col-sm-10{
        width: 83.33%;
    }
    .col-sm-9{
        width: 75%;
    }
    .col-sm-8{
        width: 66.66%;
    }
    .col-sm-7{
        width: 58.33%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-5{
        width: 41.66%;
    }
    .col-sm-4{
        width: 33.33%;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-2{
        width: 16.66%;
    }
    .col-sm-1{
        width: 8.33%;
    }
    .col-sm-0{
        width: 0%;
    }
}

/*medium devices */
@media (min-width: 768px){
    .col-md-12{
        width: 100%;
    }
    .col-md-11{
        width: 91.67%;
    }
    .col-md-10{
        width: 83.33%;
    }
    .col-md-9{
        width: 75%;
    }
    .col-md-8{
        width: 66.66%;
    }
    .col-md-7{
        width: 58.33%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-5{
        width: 41.66%;
    }
    .col-md-4{
        width: 33.33%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-2{
        width: 16.66%;
    }
    .col-md-1{
        width: 8.33%;
    }
    .col-md-0{
        width: 0%;
    }
}

/*large devices */
@media (min-width: 992px){
    .col-lg-12{
        width: 100%;
    }
    .col-lg-11{
        width: 91.67%;
    }
    .col-lg-10{
        width: 83.33%;
    }
    .col-lg-9{
        width: 75%;
    }
    .col-lg-8{
        width: 66.66%;
    }
    .col-lg-7{
        width: 58.33%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-5{
        width: 41.66%;
    }
    .col-lg-4{
        width: 33.33%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-2{
        width: 16.66%;
    }
    .col-lg-1{
        width: 8.33%;
    }
    .col-lg-0{
        width: 0%;
    }
}

/*Extra large devices */
@media (min-width: 1200px){
    .col-xl-12{
        width: 100%;
    }
    .col-xl-11{
        width: 91.67%;
    }
    .col-xl-10{
        width: 83.33%;
    }
    .col-xl-9{
        width: 75%;
    }
    .col-xl-8{
        width: 66.66%;
    }
    .col-xl-7{
        width: 58.33%;
    }
    .col-xl-6{
        width: 50%;
    }
    .col-xl-5{
        width: 41.66%;
    }
    .col-xl-4{
        width: 33.33%;
    }
    .col-xl-3{
        width: 25%;
    }
    .col-xl-2{
        width: 16.66%;
    }
    .col-xl-1{
        width: 8.33%;
    }  
    .col-xl-0{
        width: 0%;
    }
}