/* This is the class for modifying the error if the DB cannot be loaded*/
.error{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    background-color:tomato;
    margin-top: .5em;
    margin-bottom: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 10px;
    opacity: 99%;
}
/* This is the container of the grid used in the shop*/
.divShop{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    background-color: pink;
}
/* This is the container for each card in the shop*/
.card-Shop{
    width: 98%;
    background-color: lightgray;
    opacity: 99%;
    border-radius: 10px;
    border: gray 1px solid;
    padding-left: .2em;
    padding-right: .2em;
    margin-bottom: .2em;
    margin-top: .2em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: .4em;;
    text-align: center;
    min-height: 500px;
    max-height: 490px;
}

/* Ensure container contents have full visibility if opacity is used in background*/
.card-Shop *{
    opacity: 100%;
}

/* This modifies the Text elements natively in the card-shop*/
.card-Shop h1,p{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/* This modifies the rendering of the current stock*/
.card-Shop span{
    margin-left: 0px;
    margin-right: 0px;
}

/*This modifies the space used for the content of the card */
.card-content{
    width: 90%;
    min-height: 300px;
}

/* This modifies the spacing of the description */
.card-content .description{
    max-height: 5em;
    min-height: 5em;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

/* This modifies the div containing the form elements*/
.card-Shop div {
    margin-left: auto;
    margin-right: auto;
}

/* This makes the cards get a higher opacity on hover*/
.card-shop:hover{
    transition: 500ms;
    opacity: 100%;
}

/* This modifies the placeholder image that loads in before any images*/
.card-image{
    
    margin-top: .4em;
}

.product-name{
    position: relative;
    bottom: +2.1em;
    margin-bottom: -1.2em;
    background-color: whitesmoke;
    opacity: 70%;
    border-radius: 10px;
    max-width: 80%;
    font-size:x-large;
    font-weight: bold;
}
/* This modifies the cost text*/
.cost{
    font-weight: bold;
    font-size: 1.4em;
    color: black;
    text-align: right;
}

.card-shop-control{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 12px;
    min-height: 5.2em;
}

/* This modifies the description of the product*/
.description{
    color: black;
}

/*This can be used to hide any elements that should not be visible to the user*/
.hidden{
    display: none;
}

/* This class enables the containing element to have its internal elements to automatically resize if configured*/
.flex{
    margin-top: .1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*This class modifies the width used in the shop page for products*/
.grid-container{
    margin-left: auto;
    margin-right: auto;
}
.quantity{
    text-align: center;
    margin-right: auto;
}

.cart-addition{
    margin-top: 0px;
    margin-bottom: -6em;
    position: relative;
    bottom: 4.2em;
    z-index: 1;
    font-size: large;
}



/*Extra small devices */
@media (max-width: 600px){
    .col-xs-12{
        width: 100%;
        min-width: 100%;
    }
    .col-xs-11{
        width: 91.67%;
    }
    .col-xs-10{
        width: 83.33%;
    }
    .col-xs-9{
        width: 75%;
    }
    .col-xs-8{
        width: 66.66%;
    }
    .col-xs-7{
        width: 58.33%;
    }
    .col-xs-6{
        width: 50%;
    }
    .col-xs-5{
        width: 41.66%;
    }
    .col-xs-4{
        width: 33.33%;
    }
    .col-xs-3{
        width: 25%;
    }
    .col-xs-2{
        width: 16.66%;
    }
    .col-xs-1{
        width: 8.33%;
    }
    .col-xs-0{
        width: 0%;
    }
    .card-image{
        height: 350px;
        max-width: 100%;
    }
    .grid-container{
        width: 95%;
    }
    .quantity{
        font-size: x-large;
        text-align: center;
        position: relative;
        top: .5em;
    }
    .card-Shop{
        max-height: 550px;
    }
    .cart-addition{
        margin-bottom: -2.8em;
    }
}

/*small devices */
@media (min-width: 600px){
    .col-sm-12{
        width: 100%;
    }
    .col-sm-11{
        width: 91.67%;
    }
    .col-sm-10{
        width: 83.33%;
    }
    .col-sm-9{
        width: 75%;
    }
    .col-sm-8{
        width: 66.66%;
    }
    .col-sm-7{
        width: 58.33%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-5{
        width: 41.66%;
    }
    .col-sm-4{
        width: 33.33%;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-2{
        width: 16.66%;
    }
    .col-sm-1{
        width: 8.33%;
    }
    .col-sm-0{
        width: 0%;
    }
    .card-image{
        height: 350px;
        max-width: 100%;
    }
    .grid-container{
        width: 93%;
    }
    .card-Shop{
        max-height: 550px;
    }
    .cart-addition{
        margin-bottom: -3.8em;
    }
}

/*medium devices */
@media (min-width: 768px){
    .col-md-12{
        width: 100%;
    }
    .col-md-11{
        width: 91.67%;
    }
    .col-md-10{
        width: 83.33%;
    }
    .col-md-9{
        width: 75%;
    }
    .col-md-8{
        width: 66.66%;
    }
    .col-md-7{
        width: 58.33%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-5{
        width: 41.66%;
    }
    .col-md-4{
        width: 33.33%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-2{
        width: 16.66%;
    }
    .col-md-1{
        width: 8.33%;
    }
    .col-md-0{
        width: 0%;
    }
    .card-image{
        height: 325px;
        max-width: 100%;
    }
    .grid-container{
        width: 90%;
    }
    .card-Shop{
        max-height: 540px;
    }
    .cart-addition{
        margin-bottom: -4.8em;
    }
}

/*large devices */
@media (min-width: 992px){
    .col-lg-12{
        width: 100%;
    }
    .col-lg-11{
        width: 91.67%;
    }
    .col-lg-10{
        width: 83.33%;
    }
    .col-lg-9{
        width: 75%;
    }
    .col-lg-8{
        width: 66.66%;
    }
    .col-lg-7{
        width: 58.33%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-5{
        width: 41.66%;
    }
    .col-lg-4{
        width: 33.33%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-2{
        width: 16.66%;
    }
    .col-lg-1{
        width: 8.33%;
    }
    .col-lg-0{
        width: 0%;
    }
    .card-image{
        height: 300px;
        max-width: 100%;
    }
    .quantity{
        font-size: large;
    }
}

/*Extra large devices */
@media (min-width: 1200px){
    .col-xl-12{
        width: 100%;
    }
    .col-xl-11{
        width: 91.67%;
    }
    .col-xl-10{
        width: 83.33%;
    }
    .col-xl-9{
        width: 75%;
    }
    .col-xl-8{
        width: 66.66%;
    }
    .col-xl-7{
        width: 58.33%;
    }
    .col-xl-6{
        width: 50%;
    }
    .col-xl-5{
        width: 41.66%;
    }
    .col-xl-4{
        width: 33.33%;
    }
    .col-xl-3{
        width: 25%;
    }
    .col-xl-2{
        width: 16.66%;
    }
    .col-xl-1{
        width: 8.33%;
    }  
    .col-xl-0{
        width: 0%;
    }
    .card-image{
        height: 275px;
        max-width: 100%;
    }
    .quantity{
        font-size: medium;
    }
}